$secondary--text: rgb(250, 249, 249);
$background--color: rgb(10, 61, 77);
$asset--color: rgb(255, 123, 0);
$asset--color--dark:rgb(218, 107, 4);
$shadow--color: rgba(42, 43, 43, 0.205);
$primary--text: #555555;